*{
	height: auto;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
#body{
	background-color: #7ee4db;
}

/*---------------------iphone should have--------------------*/

.iphone_timer{
	position: absolute;
	z-index: 10;
	width: 100%;
	height: auto;
	top: 0px;

}
.iphone_body{
	position: absolute;
	z-index: -1;
	left: -113px;
	top: -270px;
	width: auto;
	height: auto;

}

/*---------------------iphone content--------------------*/

.iphone_cover{
	position: absolute;
	z-index: 9;
	width: 100%;
	height: 100%;
	cursor: pointer;

}

.screen_face{
	position: relative;
	width: 640px;
	height: 1136px;
	margin: 0 auto;
	margin-top: 300px;
	background-color: #7ee4db;
}

.pink{
	background-color: #ffdeef !important;
}
.happy{
	margin-top: 190px;
	width: 300px;
	height: 300px;
	background-image: url('../images/happy.png');
}
.unhappy{
	width: 300px;
	height: 300px;
	background-image: url('../images/unhappy.png');
}
.faceicon{
	width: 300px;
	height: 300px;
	margin: 0 auto;
	margin-top: 50px;
}
.wigglerrr {
	-webkit-animation: wiggle 0.1s infinite;
	-moz-animation: wiggle 0.1s infinite;
	animation: wiggle 0.1s infinite;
}
.wiggler {
	-webkit-animation: wiggle 0.5s infinite;
	-moz-animation: wiggle 0.5s infinite;
	animation: wiggle 0.5s infinite;
}
.speach2, .speach1{
	width: 0px;
	height: 0px;
	padding-top: 6px;
	background-image: url('../images/speach.png');
	background-size: 100% 100%;
	text-align: center;
	overflow: hidden;
	display: none;
}
.show{
	-webkit-animation: pop 4s ;
	-moz-animation: pop 4s ;
	animation: pop 4s ;
	-webkit-animation-fill-mode: forwards;
}
/*---------------------Blur effect--------------------*/

.blurme{
	-webkit-filter: blur(20px);
	-moz-filter: blur(20px);
	-o-filter: blur(20px);
	-ms-filter: blur(20px);
	filter: blur(20px);
}

/*-----------------Wiggle Animation--------------------*/

@-webkit-keyframes wiggle {
	0% {-webkit-transform:rotate(4deg);}
	50% {-webkit-transform:rotate(-4deg);}
	100% {-webkit-transform:rotate(4deg);}
}
 
@-moz-keyframes wiggle {
	0% {-moz-transform:rotate(4deg);}
	50% {-moz-transform:rotate(-4deg);}
	100% {-moz-transform:rotate(4deg);}
}

@keyframes wiggle {
	0% {transform:rotate(4deg);}
	50% {transform:rotate(-4deg);}
	100% {transform:rotate(4deg);}
}

