
*{
	height: auto;
	width: auto;
	margin: 0px;
	padding: 0px;
}
.body{
	background-color: #7ee4db;
	background-image: url('../images/background_gradient.png');
	background-repeat: repeat-x;
	background-position: 0 466px;
	height: 100%;
	width: 100%;
}

.clear{
	clear: both !important;
	float: none !important;
}

.hide{
	display: none;
}
.ui-widget-overlay{
	display: none;
}
.invisible{
	pointer-events: none;
}
input, select{
	border-radius: 0px;
}
/*---------------------Embedding Fonts--------------------*/
@font-face{
  font-family:'blanch';
  src: url('assest/BLANCH_CAP_0.otf');
  src: local('blanch'), local('blanch'), url('assest/BLANCH_CAP_0.otf') format('truetype');
}
@font-face{
  font-family:'blanch';
  src: url('assest/BLANCH_CAP_0.otf');
  src: local('blanch'), local('blanch'), url('assest/BLANCH_CAP_0.otf') format('truetype');
}
@import url(http://fonts.googleapis.com/css?family=Rationale);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);


/*---------------------iphone should have--------------------*/

.iphone_time{
	position: absolute;
	z-index: 10;
	width: 100%;
	height: auto;
	top: 3px;
}

.iphone_body{
	position: absolute;
	z-index: -1;
	left: -57px;
	top: -142px;
	width: auto;
	height: auto;

}

/*---------------------Web should have--------------------*/
.phone-center{
	width: 100%;
}
.iphone{
	margin: 0 !important;
	overflow: hidden;
	display: none;
}
.content-left{
	width: 254px;
	position: absolute;
	top: 177px;
	left: 90px;
	z-index: 10;
}
.content-left div img. .content-right div img{
	width: 100%;
}
.logo{
	height: 226px;
	width: 254px;
	position: relative;
}
.logo-shadow{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
}
.logo img{
	width: auto !important;
	margin-left: -115px;
}
.stop, .pause{
	height: 63px;
	cursor: pointer;
	width: 254px;
	height: 63px;
	position: relative;
}
.stop{
	background-image: url('../images/stop.png');
	background-repeat: no-repeat;
}
.pause{
	position: relative;
	background-image: url('../images/pause.png');
	background-repeat: no-repeat;
}
.pause img{
	position: absolute;
}
.pause img.touch{
	top: 5px;
	right: 14px;
}
.pause img.pinch01{
	top: -20px;
	right: -20px;
	opacity: 0;
}
.pause:hover img.touch{
	-webkit-animation: pinchhand 2s infinite;
	-moz-animation: pinchhand 2s infinite;
	animation: pinchhand 2s infinite;
}
.pause:hover img.pinch01{
	-webkit-animation: pinchtop 2s infinite;
	-moz-animation: pinchtop 2s infinite;
	animation: pinchtop 2s infinite;

}
.pause:hover img.pinch02{
	-webkit-animation: pinchbottom 2s infinite;
	-moz-animation: pinchbottom 2s infinite;
	animation: pinchbottom 2s infinite;
}

.pause img.pinch02{
	bottom: -20px;
	right: 45px;
	opacity: 0;
}

.clockimage{
	position: absolute;
	right: 14px;
	top: 13px;
	z-index: 10;
}
.stop:hover .clockimage {
	-webkit-animation: shake 0.5s infinite;
	-moz-animation: shake 0.5s infinite;
	animation: shake 0.5s infinite;
}

.content-right{
	position: absolute;
	top: 403px;
	right: 90px;
	width: 254px;
	z-index: 10;
}
.viewsitebutton{
	width: 254px;
	height: 65px;
	overflow: hidden;
	background-image:  url('../images/view-btn.png');
	background-repeat: no-repeat;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
}
.viewsitebutton:hover{
	-webkit-animation: view 0.5s forwards;
	-moz-animation: view 0.5s forwards;
	animation: view 0.5s forwards;
}
.support{
	width: 254px;
	cursor: pointer;
	text-align: center;
	position: relative;
}
.support-jump{
	left: 86px;
	position: absolute;
}
.MT129{
	margin-top: 129px;
	margin-bottom: -15px;
}
.informationHolder{
	padding: 10px;
	background-color: white;
	position: fixed;
	right: 55px;
	bottom: -100%;
	z-index: 20;
}
.email-holder input{
	width: 324px;
	height: 63px;
	padding-left: 15px;
	font-size: 17px;
	background-color: transparent;
	border: 1px solid #727272;
	border-radius: 0px;
	-webkit-appearance: none;
	border-style: solid;
	display: block;
	float: left;
	margin: 0px;
	margin-left: 3px;

}
.submit{
	border: 1px solid #727272;
	border-left: 0px;
	width: 63px;
	height: 63px;
	background-image: url('../images/submit.png');
	background-position: center;
	cursor: pointer;
	float: left;
	background-repeat: no-repeat;
}
.WT-main{
	height: 266px;
	overflow: hidden;
}

.placeholder{
	width: 100%;
	height: 100%;
	display: table;
}
.innerholder{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.back_btn{
	width: 254px;
	height: 65px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 0 auto;
	background-image: url('../images/back_btn.png');
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;

}

.back_btn:hover{
	background-position: 0 -65px;

}
/*--------------content information have-----------------*/

.whiteBg{
	background-image: url('../images/whiteBg.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 100%;
	z-index: -2;
	-webkit-transform: translateZ(0px);

}

/*---------------------iphone content--------------------*/
.iphone_cover{
	position: absolute;
	z-index: 9;
	width: 100%;
	height: 100%;
	cursor: pointer;
	left: 0px;
	top: 0px;
}

.screen_face{
	position: relative;
	width: 320px;
	height: 568px;
	margin: 200px auto;
}

.frame{
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	border: 0px;
	top: 0px;
	left: 0px;
}

.frame_bg{
	background-image: url('../images/color_bg.png');
	background-repeat: repeat-x;
	-webkit-transition: 20s ease-in-out;
	-moz-transition: 20s ease-in-out;
	-o-transition: 20s ease-in-out;
}

.white{
	color: white;
}

.frame_bg_alert{
	background-position-y: 100%; 
}

.pink{
	background-position-y: 63% !important;
}

.happy{
	width: 275px;
	height: 164px;
	background-image: url('../images/happy.png');
}

.unhappy{
	width: 275px;
	height: 164px;
	background-image: url('../images/unhappy.png');
}

.face{
	padding-top: 100px;
}

.faceicon{
	width: 275px;
	height: 164px;
	margin: 0 auto;
	pointer-events: none;
}

.speach2, .speach1{
	width: 0px;
	height: 0px;
	padding-top: 6px;
	background-image: url('../images/speach.png');
	background-size: 100% 100%;
	text-align: center;
	overflow: hidden;
	display: none;
}

.show{
	-webkit-animation: pop 4s ;
	-moz-animation: pop 4s ;
	animation: pop 4s ;
	-webkit-animation-fill-mode: forwards;
}

.content_info{
	position: absolute;
	width: 100%;
	height: 175px;
	margin: 0 auto;
	bottom: 145px;
	z-index: 10;
}

.content_info.shadow{
	position: absolute;
	width: 100%;
	height: 175px;
	margin: 0 auto;
	bottom: 145px;
	z-index: 5;
}

.content_info div{
	font-family: 'Rationale', sans-serif;
	color: #b7ecff;
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
	-webkit-transition: 30s ease-in-out;
	-moz-transition: 30s ease-in-out;
	-o-transition: 30s ease-in-out;
}

.content_info.shadow div{
	font-family: 'Rationale', sans-serif;
	color: white;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

.content_info .time{
	font-size: 80px;
	line-height: 80px;
	display: inline-block;
	padding: 0px;
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
}

.content_info.shadow .time{
	font-size: 80px;
	line-height: 80px;
	display: inline-block;
	padding: 0px;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

.time_placeholder{
	width: 100%;
	text-align: center;
}

.time_detail{
	font-size: 28px;
	line-height: 28px;
}
.time_detail:first-child{
	font-size: 32px;
	line-height: 32px;
}
.detail_holder{
	display: inline-block;
	padding: 5px 0 0 5px;
}
.day_holder{
	text-align: center;
	margin-top: 100px;
}
.date_holder{
	margin-top: 3px;
	text-align: center;
}

.date{
	font-size: 28px;
	line-height: 28px;
	padding-top: 3px;
	display: inline-block;
	text-transform:uppercase;
	border-top: 1px solid #a9f7e2;
}

.day_nameing{
	font-size: 28px;
	line-height: 28px;
	text-transform:uppercase;
}

/*--------------------Time Setting--------------------*/

.orange{
	color: #fb2d2d;
}

.timer_holder{
	width: 100%;
	color: #616161;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	font-family:'Lato', sans-serif;
}

.time_header{
	width: 100%;
	height: 33px;
	cursor: pointer;
	background-image: url('../images/timer_head.png');
}

.timer_bg{
	width: 100%;
	height: auto;
	overflow: hidden;
	background-image: url('../images/timer_bg.png');
}

.time_devider{
	width: 100%;
	height: 13px;
	background-image: url('../images/timer_breaker.png');
}

.overfow_none{
	overflow: hidden;
	position: absolute;
	bottom: 0px;
	width: 100%;
	z-index: 99;
}

.setting_date, .setting_breaker, .setting_date, .setting_off{
	float: left;
}


.timer_log{
	padding: 10px 20px;
}

.setting_year{
	margin-top: 4px;
}

.setting_date{
	margin-top: 4px;
}

.setting_breaker{
	background-image: url('../images/timer_space.png');
	width: 15px;
	height: 50px;
	margin-left: 9px;
}

.setting_months{
	font-size: 17px;
}

.alarm_date{
	font-size: 20px;
	line-height: 20px;
	font-weight: 400;
}

.date_rep{
	margin-top: 5px;
}

.date_rep li{
	float: left;
	margin: 0 5px;
	list-style: none;
	display: none;
}
.date_rep li.rep-day.active{
	color: #fb2d2d; 
}

.date_rep li.rep_light{
	width: 36px;
	height: 19px;
	margin-top: 3px;
	background-image: url('../images/timer_rep.png');
}
.date_rep li.rep_light_no{
	width: 66px;
	height: 19px;
	margin-top: 3px;
	background-image: url('../images/timer_norep.png');
}

.setting_log{
	padding: 10px 20px 20px 20px;
}

.setting_off{
	width: 58px;
	height: 27px;
	float: right;
	margin: 15px 0 0 15px;
	background-image: url('../images/timer_on.png');
}
.setting_off_off{
	background-image: url('../images/timer_off.png');
}

.timer_add{
	width: 58px;
	height: 27px;
	float: right;
	cursor: pointer;
	margin: 15px 0 0 0;
	background-image: url('../images/timer_add.png');
}

.am_pm{
	margin-left: 10px;
}

select{
	border:0;
    background:none;
    /*padding: 7px;*/
    -webkit-appearance: none;
}

.select_dot{
	float: left;
	margin: 0 3px;
	font-size: 18px;
	font-weight: 400;
	line-height: 25px;
}

.select_hide{
	float: left;
	width: 35px;
	overflow: hidden;
	text-align: center;
}

.setting_option select{
	border: 0px;
	width: 35px;
	font-size: 18px;
	font-weight: 400;
	line-height: 25px;
	text-align: center;
	background-color: #bfbfbf;
}
.select_pads{
	padding: 0 0 0 2px;
}

.setting_rep_select li{
	float: left;
	list-style: none;
}

.setting_name{
	margin-right: 48px;
}

.setting_break{
	margin: 0 10px;
}
.rep-day{
	cursor: pointer;
	display: block !important;
}
.rep-day.active{
	color: #fb2d2d; 
}

/*---------------------Blur effect--------------------*/

.blurme{
	-webkit-filter: blur(20px);
	-moz-filter: blur(20px);
	-o-filter: blur(20px);
	-ms-filter: blur(20px);
	filter: blur(20px);
}

.blurme2{

	-webkit-animation: blurme 1.3s forwards;
	-moz-animation: blurme 1.3s forwards;
	animation: blurme 1.3s forwards;

}

@-webkit-keyframes blurme {
	0% {
		-webkit-filter: blur(20px);
		-moz-filter: blur(20px);
		-o-filter: blur(20px);
		-ms-filter: blur(20px);
		filter: blur(20px);
	}
	100% {
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px);
		-ms-filter: blur(0px);
		filter: blur(0px);
	}
}

@-moz-keyframes blurme {
	0% {
		-webkit-filter: blur(20px);
		-moz-filter: blur(20px);
		-o-filter: blur(20px);
		-ms-filter: blur(20px);
		filter: blur(20px);
	}
	100% {
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px);
		-ms-filter: blur(0px);
		filter: blur(0px);
	}
}

@keyframes blurme {
	0% {
		-webkit-filter: blur(20px);
		-moz-filter: blur(20px);
		-o-filter: blur(20px);
		-ms-filter: blur(20px);
		filter: blur(20px);
	}
	100% {
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px);
		-ms-filter: blur(0px);
		filter: blur(0px);
	}
}

/*-----------------Wiggle Animation--------------------*/

.wigglerrr {
	-webkit-animation: wiggle 0.1s infinite !important;
	-moz-animation: wiggle 0.1s infinite !important;
	animation: wiggle 0.1s infinite !important;
}

.wiggler {
	-webkit-animation: wiggle 1s infinite;
	-moz-animation: wiggle 1s infinite;
	animation: wiggle 1s infinite;
}

@-webkit-keyframes wiggle {
	0% {-webkit-transform:rotate(4deg);}
	50% {-webkit-transform:rotate(-4deg);}
	100% {-webkit-transform:rotate(4deg);}
}
 
@-moz-keyframes wiggle {
	0% {-moz-transform:rotate(4deg);}
	50% {-moz-transform:rotate(-4deg);}
	100% {-moz-transform:rotate(4deg);}
}

@keyframes wiggle {
	0% {transform:rotate(4deg);}
	50% {transform:rotate(-4deg);}
	100% {transform:rotate(4deg);}
}

/*-----------------support Animation--------------------*/

.support-jump {
	-webkit-animation: jump 6s infinite;
	-moz-animation: jump 6s infinite;
	animation: jump 6s infinite;
}

@-webkit-keyframes jump {
	0% {top: 0px;}
	2% {top: -10px;}
	5% {top: 10px;}
	10% {top: 0px;}
	100% {top: 0px;}
}
 
@-moz-keyframes jump {
	0% {top: 0px;}
	2% {top: -10px;}
	5% {top: 10px;}
	10% {top: 0px;}
	100% {top: 0px;}
}

@keyframes jump {
	0% {top: 0px;}
	2% {top: -10px;}
	5% {top: 10px;}
	10% {top: 0px;}
	100% {top: 0px;}
}

/*-----------------Clock Shake Animation--------------------*/

.shake {
	-webkit-animation: shake 0.8s infinite;
	-moz-animation: shake 0.8s infinite;
	animation: shake 0.8s infinite;
}

@-webkit-keyframes shake {
	0% {top: 13px;}
	25% {top: -13px;}
	75% {top: 35px;}
	100% {top: 12px;}
}
 
@-moz-keyframes shake {
	0% {top: 13px;}
	25% {top: -13px;}
	75% {top: 35px;}
	100% {top: 12px;}
}

@keyframes shake {
	0% {top: 13px;}
	25% {top: -13px;}
	75% {top: 35px;}
	100% {top: 12px;}
}

/*-----------------Clock Shake Animation--------------------*/

@-webkit-keyframes view {
	0% {background-position: 0px 0px;}
	100% {background-position: 0px -65px;}
}
 
@-moz-keyframes view {
	0% {background-position: 0px 0px;}
	100% {background-position: 0px -65px;}
}

@keyframes view {
	0% {background-position: 0px 0px;}
	100% {background-position: 0px -65px;}
}

/*-----------------Pinch Animation--------------------*/

@-webkit-keyframes pinchtop {
	0% {opacity: 0; top: -20px; right:-20px;}
	20%{opacity: 1;}
	100% {opacity: 0; top: 8px; right: 10px;}
}
 
@-moz-keyframes pinchtop {
	0% {opacity: 0; top: -20px; right:-20px;}
	20%{opacity: 1;}
	100% {opacity: 0; top: 8px; right: 10px;}
}

@keyframes pinchtop {
	0% {opacity: 0; top: -20px; right:-20px;}
	20%{opacity: 1;}
	100% {opacity: 0; top: 8px; right: 10px;}
}

@-webkit-keyframes pinchbottom {
	0% {opacity: 0; bottom: -20px; right:45px;}
	20%{opacity: 1;}
	100% {opacity: 0; bottom: 8px; right: 10px;}
}
 
@-moz-keyframes pinchbottom {
	0% {opacity: 0; bottom: -20px; right:45px;}
	20%{opacity: 1;}
	100% {opacity: 0; bottom: 8px; right: 10px;}
}

@keyframes pinchbottom {
	0% {opacity: 0; bottom: -20px; right:45px;}
	20%{opacity: 1;}
	100% {opacity: 0; bottom: 8px; right: 10px;}
}
@-webkit-keyframes pinchhand {
	0% {opacity: 1;}
	20%{opacity: 0.2;}
	70% {opacity: 0.2;}
	100%{opacity: 1;}
}
 
@-moz-keyframes pinchhand {
	0% {opacity: 1;}
	20%{opacity: 0,2;}
	70% {opacity: 0,2;}
	100%{opacity: 1;}
}

@keyframes pinchhand {
	0% {opacity: 1;}
	20%{opacity: 0,2;}
	70% {opacity: 0,2;}
	100%{opacity: 1;}
}
/*-----------------opic Shake Animation--------------------*/

.opic {
	-webkit-animation: opic 15s infinite;
	-moz-animation: opic 15s infinite;
	animation: opic 15s infinite;
}

@-webkit-keyframes opic {
	0% {opacity: 1;}
	60% {opacity: 1;}
	61% {opacity: 0;}
	62% {opacity: 1;}
	80% {opacity: 1;}
	81% {opacity: 0;}
	82% {opacity: 1;}
	90% {opacity: 1;}
	91% {opacity: 0;}
	92% {opacity: 1;}
	93% {opacity: 0;}
	100% {opacity: 1;}
}
 
@-moz-keyframes opic {
	0% {opacity: 1;}
	60% {opacity: 1;}
	61% {opacity: 0;}
	62% {opacity: 1;}
	80% {opacity: 1;}
	81% {opacity: 0;}
	82% {opacity: 1;}
	90% {opacity: 1;}
	91% {opacity: 0;}
	92% {opacity: 1;}
	93% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes opic {
	0% {opacity: 1;}
	60% {opacity: 1;}
	61% {opacity: 0;}
	62% {opacity: 1;}
	80% {opacity: 1;}
	81% {opacity: 0;}
	82% {opacity: 1;}
	90% {opacity: 1;}
	91% {opacity: 0;}
	92% {opacity: 1;}
	93% {opacity: 0;}
	100% {opacity: 1;}
}

/*-----------------responsive--------------------*/
@media screen and (max-width: 1200px) {
	.content-left{
		left: 30px;
	}
	.content-right{
		right: 30px;
	}
	.informationHolder{
		right: 25px;
	}

}

@media screen and (max-width: 950px) {

	.phone-center{
		width: 100% !important;
	}
	.screen_face{
		margin: 150px auto;
	}
	.content-left, .content-right{
		position: inherit;
		margin: 0 auto;
		opacity: 1 !important;
	}
	.content-left{
		margin-top: 60px;
	}
	.support, .whiteBg{
		display: none;
	}
	.pause{
		margin-bottom: 30px;
	}
	.informationHolder{
		padding: 60px 10px;
		background-color: white;
		position: inherit;
	}
	.WT-main{
		height: 266px;
		text-align: center;
	}
	.WT{
		text-align: center;
	}
	.WT-main img{
		width: auto;
		height: auto;
	}
	.email-holder{
		width: 410px;
		margin: 0 auto;
	}
	.email-holder input{
		width: 327px;
		height: 65px;
		margin-left: 3px;
	}
	.submit{
		width: 60px;
		height: 65px;
	}
	.laxchee{
		margin-top: 30px;
	}
}
@media screen and (max-width: 568px) {
	.stop, .pause{
		display: none;
	}

}

@media screen and (max-width: 320px) {

	body{
		overflow-x: hidden;
	}

	.informationHolder{
		padding: 20px 10px;
	}
	.WT-main{
		height: 194px;
	}
	.WT-main img{
		width: 100%;
	}
	.email-holder input{
		width: 227px;
		height: 50px;
		margin-left: 2px;
		font-size: 12px;
	}
	.submit{
		width: 51px;
		height: 50px;
	}
	.WT{
		text-align: left;
	}
}



